@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  display: none;
}

html {
  height: 100%;
}

body {
  width: 1280px;
  margin: 0 auto;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  color: #000;
  background-color: #F2F2F2;
  line-height: 118%;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 40px;
}


.page-header {
  color: #000;
  background-color: #ffffff
}

.welcome .main-banner {
  width: 100%;
  height: auto;
}

.main-index {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 892px;
  justify-content: space-between;
  padding-left: 70px;

}


.header-logo {
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}

.navigation a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  background-color: #ffffff;
}



.navigation-list {
  display: flex;
  justify-content: space-between;
  min-width: 390px;
  width: 339px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation-add-list {
  display: flex;
  min-width: 390px;
  margin: 0;
  padding: 0;
  width: 269px;
}

.navigation-add-list li {
  list-style-type: none;
}

.navigation-item {
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.navigation-list .navigation-item {
  list-style-type: none;

}

.navigation-list .navigation-user {
  list-style-type: none;
  margin: 0;
}

.navigation-add-list li:last-child a {
  /* display: block;
  width: 160px;
  font-size: 16px;
  line-height: 125%;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  padding: 8px 5px;
  border-radius: 4px;
  text-transform: uppercase;
  height: 36px;
  margin: 0; */

  display: block;
  border-radius: 4px;
  margin: 8px 50px;
  width: 160px;
  height: 36px;
  background-color: #756157;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
}

.welcome {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  background-size: 100% auto;
}

.welcome .hero {
  margin: 51px 371px 51px 371px;
}

.sedona {
  background-color: #ffffff;
  color: #000;
}

.sedona h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 69px 290px 25px 290px;
  padding: 0;
}

.sedona p {
  font-weight: 400;
  font-size: 22px;
}

.advantages-promo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 220px;
}

.advantages-promo {
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 700;
}

.advantages-promo-description {
  margin: 0;
}

.advantages h2 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.advantages p {
  font-weight: 400;
  font-size: 18px;
}

.advantages li {
  list-style-type: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item-dark {
  display: flex;
  flex-direction: row;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 117%;
  margin-top: 30px;
}

.advantages-item-title {
  padding: 0;
  margin-bottom: 30px;
}


.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}


.advantages-offer-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-offer-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  min-height: 345px;
  padding: 20px;
  margin: 0 auto;
}

.advantages-offer-item-wrapper img {
  padding: 81px 162.5px 30px 162.5px;
}

.advantages-offer-list h2 {
  font-weight: 700;
  font-size: 30px;
}

.advantages-offer-list p {
  font-weight: 400;
  font-size: 22px;
}

.offers h2 {
  font-weight: 700;
  font-size: 24px;
}

.interesting {
  padding: 96px;
  margin: 0;
  height: 406px;
  background-color: #ffffff;
  color: #000;
}

.interesting button {
  background-color: #756157;
  color: #ffffff;
}

.subscribe {
  text-align: center;
  padding: auto;
  height: 414px;
}

.button_subscription {
  font-family: inherit;
  font-size: 20px;
  line-height: 180%;
  background-color: #82B3D3;
  color: #ffffff;
  width: 232px;
  height: 52px;
  border: none;
  border-radius: 0 4px 4px 0;
  margin-left: 0;
}

.input_e_mail {
  margin: 0;
}

.offers li {
  list-style-type: none;
}

.offers p {
  font-weight: 400;
  font-size: 18px;
}

.interesting h2 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.interesting p {
  font-weight: 400;
  font-size: 22px;
}

.interesting button {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;

}

.subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #f0f8ff;

}

.subscribe p {
  font-weight: 400;
  font-size: 22px;
  color: #f0f8ff;

}

.subscribe input {
  font-weight: 400;
  font-size: 18px;

}

.subscribe button {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #f0f8ff;

}

.social-media li {
  list-style-type: none;
}

.subscribe {
  background-image: url("../img/Subscribe.jpg");
  width: 1200px;
  height: 414, 86px;
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.subscribe label {
  font-weight: 400;
  font-size: 18px;
}

.subscribe button {
  font-weight: 700;
  font-size: 20px;
}

/* footer*/ 

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  margin: 40px 70px;
}

.social-media {
  display: flex;
  flex-direction: row;
  width: 142px;
  height: 40px;
  margin: 0;
}

.contact {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: var(--texts-texts-basic);
  font-style: normal;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  text-align: center;
}

.siteproduction {
  display: flex;
  justify-content: end;
}

/* catalog css */

.section_filters {
  background-image: url(../img/catalog/filter.jpg);

}

.selection_hotels {
  display: flex;
  flex-direction: row;
}


.price_hotels {
  display: flex;
  flex-direction: row;
}

.section_filters li {
  list-style-type: none;
}

.section_filters legend {
  list-style-type: none;
}

.button_price {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.product_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.pages {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.pages a {
  padding: auto;
  background-color: #000;
}

.input_e_mail {
  border-radius: 4px 0 0 4px;
  width: 452px;
  height: 52px;
  margin: 0;
}